[data-theme='aurora'] {
  --background: url('/src/assets/backgrounds/aurora.svg');
  --nav-and-content-bg-color: #1c123085;
  --modal-bg-color: #38246785;
  --modal-cross-button-bg-color: #35641685;
  --navbar-menu-button-bg-color: #18e4c285;
  --navbar-settings-button-bg-color: #18aae485;
  --theme-tile-button-bg-color: #13436585;
  --search-input-bg-color: #1db5b085;
  --search-input-border-and-icon-bg-color: #1c123085;
  --add-new-task-button-bg-color: #1b823685;
  --task-item-row-bg-color: #084c5685;
  --task-item-delete-button-bg-color: #c7121285;
  --task-item-done-button-bg-color: #08db1d85;

  --button-font-color: #1a161a;
  --text-font-color: #ecdde6;
  --search-magnifier-color: #1a161a;

  --navbar-content-background: #f3f2ed;

  --divider-color: #f3f2ed;

  /* --------- */

  --modal-box-shadow: 0;
  --container-box-shadow: 0;

  --standard-border-radius: 0.75em;
  --standard-border: 0;
  --backdrop-filter: blur(10px);
}
