[data-theme='bruthalism'] {
  --background: url('/src/assets/backgrounds/bruthalism.png');
  --nav-and-content-bg-color: #c06060;
  --modal-bg-color: #6be0af;
  --menu-and-close-button-color: #c06060;
  --modal-cross-button-bg-color: #c06060;
  --navbar-menu-button-bg-color: #d0ed51;
  --navbar-settings-button-bg-color: #d0ed51;
  --theme-tile-button-bg-color: #8c9ae0;

  --button-font-color: #1a161a;
  --text-font-color: #1a161a;

  --divider-color: #1a161a;

  /* --------- */

  --container-box-shadow: 3px 3px 0 #000000;
  --standard-border-radius: 0;

  --standard-border: 1px solid black;
  --modal-box-shadow: 5px 5px 0 #000000;
  --backdrop-filter: 0;
}
