[data-theme='bruthalism'] {
  --background-color: #e06b6b;
  --primary-color: #60c0bf;
  --primary-text-color: #fcfbfc;
  --primary-button-color: #517eed;

  --divider-color: #1a161a;
  --font-color: #1a161a;

  --standard-border-radius: 0em;
  --standard-border: 1px solid black;
  --modal-box-shadow: 5px 5px 0 #000000;
}
