[data-theme='bruthalism'] {
  --background-color: #6be0af;
  --primary-color: #c06060;
  --primary-text-color: #fcfbfc;
  --primary-button-color: #d0ed51;

  --divider-color: #1a161a;
  --font-color: #1a161a;

  --standard-border-radius: 0em;
  --standard-border: 1px solid black;
  --modal-box-shadow: 5px 5px 0 #000000;

  --container-box-shadow: 3px 3px 0 #000000;
  --background: url('/src/assets/backgrounds/bruthalism.png');
}
