[data-theme='claymorphism'] {
  --background: linear-gradient(
    45deg,
    rgba(198, 17, 132, 1) 0%,
    rgba(200, 35, 103, 1) 100%
  );
  --nav-and-content-bg-color: #cb5a90;
  --navbar-links-bg-color: #5a61cb;
  --modal-bg-color: #504393;
  --modal-cross-button-bg-color: #c06060;
  --navbar-menu-button-bg-color: #4ddfd1;
  --navbar-settings-button-bg-color: #d0ed51;
  --theme-tile-button-bg-color: #d0ed51;
  --search-input-bg-color: #49a6d1;
  --search-input-border-and-icon-bg-color: #1a161a;
  --add-new-task-button-bg-color: #14e169;
  --task-item-row-bg-color: #f56ee3;
  --task-item-delete-button-bg-color: #de2626;
  --task-item-done-button-bg-color: #55d24a;

  --button-font-color: #1a161a;
  --text-font-color: #1a161a;
  --search-magnifier-color: #1a161a;

  --navbar-content-background: #f3f2ed;

  --divider-color: #1a161a;

  /* --------- */

  --modal-box-shadow: 4px 4px 10px #ffffff10, inset -8px -8px 16px #00000050,
    inset 8px 8px 16px #ffffff40;

  --container-box-shadow: 4px 4px 10px #ffffff10, inset -8px -8px 16px #00000050,
    inset 8px 8px 16px #ffffff40;

  --button-box-shadow: 1px 1px 10px #ffffff30, inset -2px -2px 10px #00000090,
    inset 2px 2px 10px #ffffffb0;

  --standard-border-radius: 20px;
  --standard-border: 0;
  --backdrop-filter: blur(5px);
}
