[data-theme='flat-design-light'] {
  --background-color: #777cad;
  --primary-color: #bdc6d0;
  --primary-text-color: #fcfbfc;
  --primary-button-color: #777cad;

  --font-color: #fcfbfc;

  --standard-border-radius: 0.75em;
}

[data-theme='flat-design-dark'] {
  --background-color: #27292e;

  --primary-color: #1a1c1e;
  --primary-text-color: #fcfbfc;
  --primary-button-color: #27292e;

  --font-color: #fcfbfc;

  --standard-border-radius: 0.75em;
}
