[data-theme='glassmorphism'] {
  --background: url('/src/assets/backgrounds/glassmorphism.webp');
  --nav-and-content-bg-color: #ffffff40;
  --modal-bg-color: #ffffff40;
  --modal-cross-button-bg-color: #60c0bf;
  --navbar-menu-button-bg-color: #ffffff30;
  --navbar-settings-button-bg-color: #ffffff30;
  --theme-tile-button-bg-color: #ffffff30;
  --search-input-bg-color: #ffffff40;
  --search-input-border-and-icon-bg-color: #ffffff40;
  --add-new-task-button-bg-color: #ffffff40;
  --task-item-row-bg-color: #ffffff40;
  --task-item-delete-button-bg-color: #ffffff30;
  --task-item-done-button-bg-color: #ffffff30;

  --button-font-color: #1a161a;
  --text-font-color: #1a161a;
  --search-magnifier-color: #f6e6f6;

  --divider-color: #ffffff30;

  /* --------- */

  --modal-box-shadow: 0;
  --container-box-shadow: 0;
  --button-box-shadow: 0;

  --standard-border-radius: 0.75em;
  --standard-border: 0;
  --backdrop-filter: blur(10px);
}
