[data-theme='modern-dark'] {
  --background: #27292e;
  --nav-and-content-bg-color: #1a1c1e;
  --modal-bg-color: #27292e;
  --modal-cross-button-bg-color: #1a1c1e;
  --navbar-menu-button-bg-color: #27292e;
  --navbar-settings-button-bg-color: #27292e;
  --navbar-links-bg-color: #27292e;
  --theme-tile-button-bg-color: #1a1c1e;
  --search-input-bg-color: #1a1c1e;
  --search-input-border-and-icon-bg-color: #27292e;
  --add-new-task-button-bg-color: #27292e;
  --task-item-row-bg-color: #27292e;
  --task-item-delete-button-bg-color: #1a1c1e;
  --task-item-done-button-bg-color: #1a1c1e;

  --button-font-color: #fcfbfc;
  --text-font-color: #fcfbfc;
  --search-magnifier-color: #fcfbfc;

  --divider-color: #27292e;

  /* --------- */

  --modal-box-shadow: 0 0 50px 0 #252323;
  --container-box-shadow: 0;
  --button-box-shadow: 0;

  --standard-border-radius: 0.75em;
  --standard-border: 0;
  --backdrop-filter: 0;
}
