[data-theme='modern-flat-light'] {
  --background-color: #f3f2ed;
  --primary-color: #ecdde6;
  --primary-text-color: #1c181c;
  --primary-button-color: #f3f2ed;

  --divider-color: #f3f2ed;
  --font-color: #1c181c;

  --standard-border-radius: 0.75em;
  --modal-box-shadow: 0 0 50px 0 #bbaaaa;
  --container-box-shadow: 0;

  --background: #f3f2ed;
}
