[data-theme='neobruthalism'] {
  --background: url('/src/assets/backgrounds/neobruthalism.svg');
  --nav-and-content-bg-color: #60c0bf;
  --modal-bg-color: #e06b6b;
  --modal-cross-button-bg-color: #60c0bf;
  --navbar-menu-button-bg-color: #517eed;
  --navbar-settings-button-bg-color: #ed6651;
  --navbar-links-bg-color: #ed51cb;
  --theme-tile-button-bg-color: #a4e08c;
  --search-input-bg-color: #f7cb66;
  --search-input-border-and-icon-bg-color: #1a161a;
  --add-new-task-button-bg-color: #7fbc95;
  --search-input-bg-color: #f7cb66;
  --search-input-border-and-icon-bg-color: #1a161a;
  --add-new-task-button-bg-color: #7fbc95;
  --task-item-row-bg-color: #ffffff40;
  --task-item-delete-button-bg-color: #e0a0a0;
  --task-item-done-button-bg-color: #a2e0a0;

  --button-font-color: #1a161a;
  --text-font-color: #1a161a;
  --search-magnifier-color: #1a161a7d;

  --divider-color: #1a161a;

  /* --------- */

  --modal-box-shadow: 0;
  --container-box-shadow: 0;
  --button-box-shadow: 0;

  --standard-border-radius: 0.75em;
  --standard-border: 1px solid black;
  --backdrop-filter: 0;
}
