[data-theme='vfd-display'] {
  --background: #0d0d0d;
  --nav-and-content-bg-color: #0d0d0d;
  --modal-bg-color: #0d0d0d;
  --modal-cross-button-bg-color: #e0e0e0;
  --navbar-menu-button-bg-color: #1caeae;
  --navbar-settings-button-bg-color: #1caeae;
  --theme-tile-button-bg-color: #1caeae;
  --search-input-bg-color: #1caeae;
  --search-input-border-and-icon-bg-color: #1caeae;
  --add-new-task-button-bg-color: #1caeae;
  --task-item-row-bg-color: #1caeae;
  --task-item-delete-button-bg-color: #0d0d0d;
  --task-item-done-button-bg-color: #0d0d0d;

  --button-font-color: #1a161a;
  --text-font-color: #1caeae;
  --search-magnifier-color: #1a161a;

  --navbar-content-background: #f3f2ed;

  --divider-color: #1caeae;

  /* --------- */

  --modal-box-shadow: 0px 0px 10px #1caeae;
  --container-box-shadow: 0px 0px 10px #1caeae;
  --button-box-shadow: 0px 0px 10px #1caeae;
  --text-box-shadow: 0px 0px 10px #1caeae;

  --standard-border-radius: 0.75em;
  --standard-border: 1px solid #1caeae;
  --backdrop-filter: 0;
}
